<div class="academic_affiliations">
  <h4 id="highlights">Academic Affiliations</h4>
  <p><a href="https://www.aeaweb.org/" target="_blank">American Economic Association</a></p>
  <p><a href="https://weai.org/" target="_blank">Western Economic Association International</a></p>
  <p><a href="https://nfa-net.jp/" target="_blank">Nippon Finance Association</a></p>
  <p><a href="https://www.iriem.org/index.aspx/" target="_blank">International Research Institute for Economics and Management</a></p>
  <p><a href="https://www.ieti.net/index.aspx/" target="_blank">International Engineering and Technology Institute</a></p>
  <p><a href="https://www.idsai.org/index.aspx/" target="_blank">Institute of Data Science and Artificial Intelligence</a></p>
  <p><a href="http://www.ebimcs.org/index.html/" target="_blank">E-Business, Information Management and Computer Science</a></p>
  
</div>

