<div class="experience">
  <h4>Experience</h4>
    <p>2023/04~ Membership, Western Economic Association International</p>
    <p>2023/04~ 2023/08 Teaching Assistant, Graduate School of Economics, Kobe University</p>
    <p>2023/01~ 2023/02 Research Assistant, Center for Mathematical Data Science, Kobe University</p>
    <p>2022/04~ 2022/08 Teaching Assistant, Graduate School of Economics, Kobe University</p>
    <p>2021/10~ 2021/12 Research Assistant, Graduate School of Economics, Kobe University</p>
    <p>2020/05~ 2021/02 Research Assistant, Graduate School of Economics, Kobe University</p>
</div>
